<div class="template-page">
    <div class="top">
    </div>
    <div class="main-text">
        <p>Notre objectif est <span id="i1">d'organiser</span> les<span id="i2"> ressources</span> universitaire à grande echelle pour les rendres <span id="i3">accessibles à tous</span></p>
    </div>
</div>

