.main {
    display:flex;
    flex-wrap: wrap;
    
}
.leftside {
    width: 50%;
    height: 650px;
    background-image: url('/assets/images/main-picture.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.rightside {
    background:linear-gradient(white, #D3D8E8);
    width: 50%;
    height: 650px;
   
}


@media (max-width: 1000px) {
    .leftside {
        display: none;
    }
    .rightside {
        background:linear-gradient( #D3D8E8);
        width: 100%;
    }
}
