body {
    margin: 0;
    padding: 0%;
}
.grid > div {
    background-color: #CCCC;
    border: solid 1px #9999;
}
.grid {
    display: grid;
    grid-template-columns: 200px 3fr 200px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}
.child {
    margin-top: 10%;
    margin-bottom: 10%;
    grid-column-start: 2;
}
