<div class="header">
     <a href="http://openuniv.fr/"><img class="logo-header" src="/assets/images/logo1.png" alt="..."></a>
    <div class="login-header">
        <input type="email" id="email" name="email" required minlength="4" maxlength="8" size="10" 
        placeholder="E-mail ou numéro de téléphone">

        <input type="password" id="password" name="password" 
        placeholder="Mot de passe">

        <button class="button-header" type="button">Connexion</button>
    
            <a href="#" class="forgot-password">Mot de passe oublié ?</a>
    </div>
</div>
