.header{
    height: 68px;
    background: #6d071a; 
    background-image: linear-gradient(#ac0a285b, #ac0a28c9 50%);
    display: inline-block;
    width: 100%;
   
}
.logo-header{
    margin-top: 20px; 
    margin-right: 0;
    margin-bottom: 1px;
    margin-left: 121px;
}
.login-header{
    margin-top: 20px;
    margin-right: 55px;
    margin-bottom: 0;
    margin-left: 0;
    float: right;
    direction: ltr;
    justify-content: center;
}
#password{
    margin-right: 16px;
    height: 19px;
    width: 193px;
    border-radius: 3px;
    padding: 3px 3px 4px;
}
#email{
    margin-right: 16px;
    height: 19px;
    width: 193px;
    border-radius: 3px;
    padding: 3px 3px 4px;
}
.button-header {
    background: crimson;
    color: white;
    border: 0;
    padding: 4px;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 12px;
}
a {
    color:white;
    text-decoration: none;
    font-family: 'Roboto';
}
a:hover{
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .header {
        width: 100%;
        height: 50px;
        
    }
    .logo-header {
        display: flex;
        width: 123px;
        height: 24px;
        margin:auto;
        padding: 2%;
        
    }
    .login-header {
        display: none;
    }
 }
