/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    color: black;
}
p{
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    color:#1d2129;
    font-size: 17px;
}
.main-form {
    display: -ms-grid;
    display: grid; 
    -ms-grid-columns: 50% 50%; 
    grid-template-columns: 50% 50%;
    -ms-grid-rows:10% 10% 10% 10%;
    grid-template-rows:10% 10% 10% 10%;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto';

  }
.main-form > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;

  }
.main-form > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;

  }
.main-form > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;

  }
.main-form > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;

  }
.main-form > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;

  }
.main-form > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;

  }
.main-form > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;

  }
.main-form > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;

  }
.title-form { 
    -ms-grid-row: 1; 
    grid-row: 1;
    -ms-grid-column:3;
    -ms-grid-column-span:-2;
    grid-column:3/1;
    /* background-color: grey;
    opacity: 0.5; */
    font-display: 'Roboto';
    color:#1d2129;
    font-size: 36px;
    margin: 0 auto;
    padding: 32px 30px;
    margin-bottom: 5px;
    line-height: 1.34;
    font-weight: 600;  
}
.first-name {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;

    /* background-color: bisque;
    opacity: 0.5; */

    margin:35px 45px 24px 140px;   
}
.last-name { 
    -ms-grid-column: 2; 
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    /* background-color: orchid;
    opacity: 0.5; */
    margin: 33px 21px 9px 30px;  
}
.email {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    /* background-color:orange;
    opacity: 0.5; */
    margin: 33px 21px 9px 140px;
  }
.email-confirm {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    /* background-color:red;
    opacity: 0.5; */
    margin: 33px 21px 9px 30px;
  }
.password {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
    /* background-color:brown;
    opacity: 0.5; */
    margin: 33px 21px 9px 140px;
  }
.confirm-password {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
    /* background-color: greenyellow;
    opacity: 0.5; */
    margin: 33px 21px 9px 30px;
  }
.birth {
    -ms-grid-column: 3;
    -ms-grid-column-span: -2;
    grid-column: 3/1;
    -ms-grid-row:5;
    grid-row:5;

    /* background-color: burlywood;
    opacity: 0.5; */
    margin: 33px 21px 9px 69px;
  }
.gender {
    -ms-grid-column:3;
    -ms-grid-column-span:-2;
    grid-column:3/1;
    -ms-grid-row: 6;
    grid-row: 6;
    /* background-color: darkgoldenrod;
    opacity: 0.5; */
    margin:-117px 0px 0px 315px;
    padding: 4px;
    font-family: 17px;
}
.btn-registre{
    -ms-grid-column:3;
    -ms-grid-column-span:-2;
    grid-column:3/1;
    -ms-grid-row: 7;
    grid-row: 7;
    /* background-color: tomato;
    opacity: 0,5; */
}
input{
    width: 267px;
    height: 35.5px;
    border-radius: 6px;
    padding: 11px;
    line-height: 16px;
    font-size: 17px;
    border: 1px solid #ccd0d5;
}


#gender{
    height: 15px;
    width: 15px;

}
.birth{
    margin-top: 45px;
    margin-left: 315px;
}
#pingender{
    padding-top: 3px;
}
#birth,#mouth,#year{
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    width: 70px;
    border-bottom-color:rgb(204, 208, 213);
}
.btn-main{
    margin:14px 0px 0px 0px;
}
#concent {
    font-size: 11px;
    margin: 0;
    padding-top: 10px;
}
.btn-registre {
    background:#00A400;
    border-radius: 4px;
    border: 0;
    padding: 7px 20px;
    color: white;
    width:170px;
    height:46px;
    font-weight: 700;
    font-family: inherit;
    font-size: 19px;
    margin-left: 2%;
}

